<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:javaee="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd" version="2.4">
  <display-name>Authoring Tool</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <context-param>
    <param-name>jdkAddr</param-name>
    <param-value>C:\\Program Files\\Java\\jdk1.6.0_45</param-value>
  </context-param>
  <context-param>
    <param-name>db.driver</param-name>
    <param-value>com.mysql.jdbc.Driver</param-value>
  </context-param>
    <context-param>
    <param-name>db.aggregateURL</param-name>
    <param-value>jdbc:mysql://localhost:3306/aggregate</param-value>
  </context-param>
  <context-param>
    <param-name>db.webexURL</param-name>
    <param-value>jdbc:mysql://localhost:3306/webex21</param-value>
  </context-param>
   <context-param>
    <param-name>db.um2</param-name>
    <param-value>jdbc:mysql://localhost:3306/um2</param-value>
  </context-param>
  <context-param>
    <param-name>db.treemapURL</param-name>
    <param-value>jdbc:mysql://localhost:3306/treemap</param-value>
  </context-param>
  <context-param>
    <param-name>db.guanjieURL</param-name>
    <param-value>jdbc:mysql://localhost:3306/guanjie</param-value>
  </context-param>
  <context-param>
    <param-name>db.user</param-name>
    <param-value>student</param-value>
  </context-param>
  <context-param>
    <param-name>db.passwd</param-name>
    <param-value>student</param-value>
  </context-param>
  <context-param>
    <param-name>qp.path</param-name>
    <param-value>http://www.sis.pitt.edu/~sergeys/_EXCHANGE/_q</param-value>
  </context-param>
  <context-param>
    <param-name>qp.parser.url</param-name>
    <param-value>/authoring/parser/parseQuestion.cgi</param-value>
  </context-param>
  
   <servlet>
    <servlet-name>DeleteQuizServlet</servlet-name>
    <servlet-class>edu.pitt.sis.paws.authoring.servlets.DeleteQuizServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteQuizServlet</servlet-name>
    <url-pattern>/DeleteQuizServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DeleteExampleLineServlet</servlet-name>
    <servlet-class>edu.pitt.sis.paws.authoring.servlets.DeleteExampleLineServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteExampleLineServlet</servlet-name>
    <url-pattern>/DeleteExampleLineServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddExampleLineServlet</servlet-name>
    <servlet-class>edu.pitt.sis.paws.authoring.servlets.AddExampleLineServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddExampleLineServlet</servlet-name>
    <url-pattern>/AddExampleLineServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DeleteExampleServlet</servlet-name>
    <servlet-class>edu.pitt.sis.paws.authoring.servlets.DeleteExampleServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteExampleServlet</servlet-name>
    <url-pattern>/DeleteExampleServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CloneExampleServlet</servlet-name>
    <servlet-class>edu.pitt.sis.paws.authoring.servlets.CloneExampleServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CloneExampleServlet</servlet-name>
    <url-pattern>/CloneExampleServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>xmlGenS</servlet-name>
    <servlet-class>edu.pitt.sis.paws.authoring.servlets.xmlGenS</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>xmlGenS</servlet-name>
    <url-pattern>/xmlGenS</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CompileCodeServlet</servlet-name>
    <servlet-class>edu.pitt.sis.paws.authoring.servlets.CompileCodeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CompileCodeServlet</servlet-name>
    <url-pattern>/CompileCodeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DeleteScopeServlet</servlet-name>
    <servlet-class>edu.pitt.sis.paws.authoring.servlets.DeleteScopeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteScopeServlet</servlet-name>
    <url-pattern>/DeleteScopeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CloneScopeServlet</servlet-name>
    <servlet-class>edu.pitt.sis.paws.authoring.servlets.CloneScopeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CloneScopeServlet</servlet-name>
    <url-pattern>/CloneScopeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>QuestionServlet</servlet-name>
    <servlet-class>edu.pitt.sis.paws.authoring.servlets.QuestionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QuestionServlet</servlet-name>
    <url-pattern>/QuestionServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>QuizServlet</servlet-name>
    <servlet-class>edu.pitt.sis.paws.authoring.servlets.QuizServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QuizServlet</servlet-name>
    <url-pattern>/QuizServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SecurityServlet</servlet-name>
    <servlet-class>edu.pitt.sis.paws.authoring.servlets.SecurityServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SecurityServlet</servlet-name>
    <url-pattern>/SecurityServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AbstractServlet</servlet-name>
    <servlet-class>edu.pitt.sis.paws.authoring.servlets.AbstractServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AbstractServlet</servlet-name>
    <url-pattern>/AbstractServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CrawlServletT</servlet-name>
    <servlet-class>CrawlServletT</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CrawlServletT</servlet-name>
    <url-pattern>/CrawlServletT</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>conceptsdtd</servlet-name>
    <jsp-file>/GraphXML.dtd</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>conceptsdtd</servlet-name>
    <url-pattern>/servlet/GraphXML.dtd</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ParserServlet</servlet-name>
    <servlet-class>edu.pitt.sis.paws.authoring.parser.ParserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ParserServlet</servlet-name>
    <url-pattern>/ParserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddConcept</servlet-name>
    <servlet-class>edu.pitt.sis.paws.authoring.parser.AddConcept</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddConcept</servlet-name>
    <url-pattern>/AddConcept</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DeleteConcept</servlet-name>
    <servlet-class>edu.pitt.sis.paws.authoring.parser.DeleteConcept</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteConcept</servlet-name>
    <url-pattern>/DeleteConcept</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UpdateConcept</servlet-name>
    <servlet-class>edu.pitt.sis.paws.authoring.parser.UpdateConcept</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateConcept</servlet-name>
    <url-pattern>/UpdateConcept</url-pattern>
  </servlet-mapping>
</web-app>